<div class="container">
    <div class="text-center">
        <h1 id="logo"><img src="/assets/images/title_good_burger.png" alt="Good Burger Logo" height="250"></h1>
        <p class="caption">Welcome to Good Burger, Home of the Good Burger...</p>
    </div>

    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card border-warning">
                <div class="card-header bg-warning text-white text-center">
                    Can I take your order?
                </div>
                <div class="card-body">
                    <form class="create-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="burger-order" placeholder="Order Here">
                        </div>
                        <button class="btn btn-warning" type="submit">Place order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
[]
    <div class="row mt-4">
        <div class="col-md-5 offset-1 mt-2">
            <div class="card border-info" id='burger-card'>
                <div class="card-header bg-info text-white text-center">
                    Burgers
                </div>
                <div class="card-body">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devour=false}}
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-5 mt-2">
            <div class="card devoured-card">
                <div class="card-header text-white text-center" id="devoured-card-header">
                    Devoured burgers
                </div>
                <div class="card-body">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-devour devour=true}}
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>