<div class="mt-3">
	<h4 class="text-info">{{burger_name}}</h4>

	<button class="change-devour btn btn-info" data-id="{{id}}" data-newdevour="{{devour}}"><i class="fas fa-cookie-bite mr-2"></i>Devour It!
	</button>
</div>